<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="OrderApplyDetailMapper">
	
	<!--表名 -->
	<sql id="tableName">
		PURCHASES_ORDER_APPLY_DETAIL
	</sql>
	
	<!-- 字段 -->
	<sql id="Field">
		PORDER_APPLY_DETAIL_ID,	
		PORDER_APPLY_ID,	
		PORDER_APPLY_DETAIL_NO,	
		PROVIDER_ID,	
		PROVIDER_NAME,	
		MATERIAL_ID,	
		MATERIAL_NAME,	
		MATERIAL_SPEC,	
		MATERIAL_NUM,	
		MATERIAL_WEIGHT,	
		MATERIAL_PRICE,	
		MATERIAL_UNIT,	
		TOTAL_AMT,	
		PACK_TYPE,	
		DELIVERY_DATE,	
		FROM_ID,	
		FROM_NO,	
		COMPANY_ID,	
		DEPARTMENT_ID,	
		GROUP_ID,	
		CREATE_USER,	
		CREATE_DATE,	
		UPDATE_USER,	
		UPDATE_DATE,	
		REMARK,	
		DETAIL_STATUS,	
		EXT1,	
		EXT2,	
		EXT3,	
		EXT4,	
		EXT5
	</sql>
	
	<!-- 字段值 -->
	<sql id="FieldValue">
		#{PORDER_APPLY_DETAIL_ID},	
		#{PORDER_APPLY_ID},	
		#{PORDER_APPLY_DETAIL_NO},	
		#{PROVIDER_ID},	
		#{PROVIDER_NAME},	
		#{MATERIAL_ID},	
		#{MATERIAL_NAME},	
		#{MATERIAL_SPEC},	
		#{MATERIAL_NUM},	
		#{MATERIAL_WEIGHT},	
		#{MATERIAL_PRICE},	
		#{MATERIAL_UNIT},	
		#{TOTAL_AMT},	
		#{PACK_TYPE},	
		#{DELIVERY_DATE},	
		#{FROM_ID},	
		#{FROM_NO},	
		#{COMPANY_ID},	
		#{DEPARTMENT_ID},	
		#{GROUP_ID},	
		#{CREATE_USER},	
		#{CREATE_DATE},	
		#{UPDATE_USER},	
		#{UPDATE_DATE},	
		#{REMARK},	
		#{DETAIL_STATUS},	
		#{EXT1},	
		#{EXT2},	
		#{EXT3},	
		#{EXT4},	
		#{EXT5}
	</sql>
	
	<!-- 新增-->
	<insert id="save" parameterType="pd">
		insert into 
	<include refid="tableName"></include>
		(
	<include refid="Field"></include>
		) values (
	<include refid="FieldValue"></include>
		)
	</insert>
	
	<!-- 删除-->
	<delete id="delete" parameterType="pd">
		delete from
		<include refid="tableName"></include>
		where 
			PORDER_APPLY_DETAIL_ID = #{PORDER_APPLY_DETAIL_ID}
	</delete>
	
	<!-- 修改 -->
	<update id="edit" parameterType="pd">
		update
		<include refid="tableName"></include>
		set 
			<if test="PORDER_APPLY_DETAIL_ID != null and PORDER_APPLY_DETAIL_ID != ''">
				PORDER_APPLY_DETAIL_ID = #{PORDER_APPLY_DETAIL_ID},
			</if>
			<if test="PORDER_APPLY_ID != null and PORDER_APPLY_ID != ''">
				PORDER_APPLY_ID = #{PORDER_APPLY_ID},
			</if>
			<if test="PORDER_APPLY_DETAIL_NO != null and PORDER_APPLY_DETAIL_NO != ''">
				PORDER_APPLY_DETAIL_NO = #{PORDER_APPLY_DETAIL_NO},
			</if>
			<if test="PROVIDER_ID != null and PROVIDER_ID != ''">
				PROVIDER_ID = #{PROVIDER_ID},
			</if>
			<if test="PROVIDER_NAME != null and PROVIDER_NAME != ''">
				PROVIDER_NAME = #{PROVIDER_NAME},
			</if>
			<if test="MATERIAL_ID != null and MATERIAL_ID != ''">
				MATERIAL_ID = #{MATERIAL_ID},
			</if>
			<if test="MATERIAL_NAME != null and MATERIAL_NAME != ''">
				MATERIAL_NAME = #{MATERIAL_NAME},
			</if>
			<if test="MATERIAL_SPEC != null and MATERIAL_SPEC != ''">
				MATERIAL_SPEC = #{MATERIAL_SPEC},
			</if>
			<if test="MATERIAL_NUM != null and MATERIAL_NUM != ''">
				MATERIAL_NUM = #{MATERIAL_NUM},
			</if>
			<if test="MATERIAL_WEIGHT != null and MATERIAL_WEIGHT != ''">
				MATERIAL_WEIGHT = #{MATERIAL_WEIGHT},
			</if>
			<if test="MATERIAL_PRICE != null and MATERIAL_PRICE != ''">
				MATERIAL_PRICE = #{MATERIAL_PRICE},
			</if>
			<if test="MATERIAL_UNIT != null and MATERIAL_UNIT != ''">
				MATERIAL_UNIT = #{MATERIAL_UNIT},
			</if>
			<if test="TOTAL_AMT != null and TOTAL_AMT != ''">
				TOTAL_AMT = #{TOTAL_AMT},
			</if>
			<if test="PACK_TYPE != null and PACK_TYPE != ''">
				PACK_TYPE = #{PACK_TYPE},
			</if>
			<if test="DELIVERY_DATE != null and DELIVERY_DATE != ''">
				DELIVERY_DATE = #{DELIVERY_DATE},
			</if>
			<if test="FROM_ID != null and FROM_ID != ''">
				FROM_ID = #{FROM_ID},
			</if>
			<if test="FROM_NO != null and FROM_NO != ''">
				FROM_NO = #{FROM_NO},
			</if>
			<if test="COMPANY_ID != null and COMPANY_ID != ''">
				COMPANY_ID = #{COMPANY_ID},
			</if>
			<if test="DEPARTMENT_ID != null and DEPARTMENT_ID != ''">
				DEPARTMENT_ID = #{DEPARTMENT_ID},
			</if>
			<if test="GROUP_ID != null and GROUP_ID != ''">
				GROUP_ID = #{GROUP_ID},
			</if>
			<if test="CREATE_USER != null and CREATE_USER != ''">
				CREATE_USER = #{CREATE_USER},
			</if>
			<if test="CREATE_DATE != null and CREATE_DATE != ''">
				CREATE_DATE = #{CREATE_DATE},
			</if>
			<if test="UPDATE_USER != null and UPDATE_USER != ''">
				UPDATE_USER = #{UPDATE_USER},
			</if>
			<if test="UPDATE_DATE != null and UPDATE_DATE != ''">
				UPDATE_DATE = #{UPDATE_DATE},
			</if>
			<if test="REMARK != null and REMARK != ''">
				REMARK = #{REMARK},
			</if>
			<if test="DETAIL_STATUS != null and DETAIL_STATUS != ''">
				DETAIL_STATUS = #{DETAIL_STATUS},
			</if>
			<if test="EXT1 != null and EXT1 != ''">
				EXT1 = #{EXT1},
			</if>
			<if test="EXT2 != null and EXT2 != ''">
				EXT2 = #{EXT2},
			</if>
			<if test="EXT3 != null and EXT3 != ''">
				EXT3 = #{EXT3},
			</if>
			<if test="EXT4 != null and EXT4 != ''">
				EXT4 = #{EXT4},
			</if>
			<if test="EXT5 != null and EXT5 != ''">
				EXT5 = #{EXT5},
			</if>
		PORDER_APPLY_DETAIL_ID = PORDER_APPLY_DETAIL_ID
		where 
		PORDER_APPLY_DETAIL_ID = #{PORDER_APPLY_DETAIL_ID}
	</update>
	
	
	<update id="editStatusByPorderApplyId" parameterType="pd">
		update
		<include refid="tableName"></include>
		set 
			UPDATE_USER = #{UPDATE_USER},
			UPDATE_DATE = #{UPDATE_DATE},
			DETAIL_STATUS = #{DETAIL_STATUS}
		where 
			PORDER_APPLY_ID = #{PORDER_APPLY_ID}
			and detail_status != '80'
	</update>
	
	<update id="editStatusByApplyDetailList" parameterType="pd">
		update
		<include refid="tableName"></include>
		set 
			UPDATE_USER = #{UPDATE_USER},
			UPDATE_DATE = #{UPDATE_DATE},
			DETAIL_STATUS = #{DETAIL_STATUS}
		where 
			porder_apply_detail_id in 
			<foreach item="item" index="index" collection="array" open="(" separator="," close=")">
                 #{item}
			</foreach>
			and detail_status != '80'
	</update>
	
	<!-- 通过ID获取数据 -->
	<select id="findById" parameterType="pd" resultType="pd">
		select 
		<include refid="Field"></include>
		from 
		<include refid="tableName"></include>
		where 
			PORDER_APPLY_DETAIL_ID = #{PORDER_APPLY_DETAIL_ID}
	</select>
	
	<!-- 列表 -->
	<select id="datalistPage" parameterType="page" resultType="pd">
		select
			t.PORDER_APPLY_DETAIL_ID,	
			t.PORDER_APPLY_ID,	
			t.PORDER_APPLY_DETAIL_NO,	
			t.PROVIDER_ID,	
			t.PROVIDER_NAME,	
			t.MATERIAL_ID,	
			t.MATERIAL_NAME,	
			t.MATERIAL_SPEC,	
			t.MATERIAL_NUM,	
			t.MATERIAL_WEIGHT,	
			t.MATERIAL_PRICE,	
			t.MATERIAL_UNIT,	
			t.TOTAL_AMT,	
			t.PACK_TYPE,	
			date_format(t.DELIVERY_DATE,'%Y-%m-%d') as "DELIVERY_DATE",	
			t.FROM_ID,	
			t.FROM_NO,	
			t.COMPANY_ID,	
			t.DEPARTMENT_ID,	
			t.GROUP_ID,	
			t.REMARK,	
			t.DETAIL_STATUS,	
			t.EXT1,	
			t.EXT2,	
			t.EXT3,	
			t.EXT4,	
			t.EXT5,
			bm.MATERIAL_CODE
		from 
			<include refid="tableName"></include> t,
			baseinfo_material bm
		where t.material_id = bm.material_id
		<if test="pd.keywords!= null and pd.keywords != ''"><!-- 关键词检索 -->
			and
				(
				<!--	根据需求自己加检索条件
					字段1 LIKE CONCAT(CONCAT('%', #{pd.keywords}),'%')
					 or 
					字段2 LIKE CONCAT(CONCAT('%', #{pd.keywords}),'%') 
				-->
				)
		</if>
		<if test="pd.PORDER_APPLY_ID !=null and pd.PORDER_APPLY_ID != ''"> and PORDER_APPLY_ID = #{pd.PORDER_APPLY_ID}</if>
	</select>
	
	<!-- 列表(全部) -->
	<select id="listAll" parameterType="pd" resultType="pd">
		select
		<include refid="Field"></include>
		from 
		<include refid="tableName"></include>
	</select>
	
	<!-- 批量删除 -->
	<delete id="deleteAll" parameterType="String">
		delete from
		<include refid="tableName"></include>
		where 
			PORDER_APPLY_DETAIL_ID in
		<foreach item="item" index="index" collection="array" open="(" separator="," close=")">
                 #{item}
		</foreach>
	</delete>
	
	<select id="sumApplyNumAndAmt"  parameterType="pd" resultType="pd">
		select sum(ifnull(MATERIAL_NUM,0)) AS "SUM_MATERIAL_NUM",
			sum(ifnull(TOTAL_AMT,0)) as "SUM_TOTAL_AMT"
		from <include refid="tableName"></include>
		where	PORDER_APPLY_ID = #{PORDER_APPLY_ID}
		
	</select>
	<!-- zhudafeng -->
</mapper>